/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Maksukortti/target
/laskarit/viikko2/.vscode
/Minesweeper/target
/Minesweeper/.vscode
/Minesweeper/.settings
/Minesweeper/.classpath
/Minesweeper/.project
/Minesweeper/scores.txt
/Minesweeper/src/main/minesweeper/ui/TextUI.java
